<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr"
	data-theme="theme-default" data-assets-path="../assets/"
	data-template="vertical-menu-template-free"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Gestión de Proyectos</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
	rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
	crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<h3 class="navbar-brand ps-3">Gestión de Estados</h3>
	</nav>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Páginas</div>
						<a class="nav-link" th:href="@{/roles}">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-people-group"></i>
							</div> Roles
						</a>
						<a class="nav-link" th:href="@{/users}">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-users"></i>
							</div> Usuarios
						</a>
						<a class="nav-link" th:href="@{/statuses}">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-signal"></i>
							</div> Estados
						</a>
					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">

					<h1
						class="my-4 pb-3 border border-bottom border-end-0 border-top-0 border-start-0">Listado
						de Roles</h1>

					<div
						class="w-100 d-flex justify-content-end align-content-center mb-4">
						<a th:href="@{/new-rol}" class="btn btn-success"><i
							class="fa-regular fa-square-plus"></i> Nuevo Rol</a>
					</div>

					<div class="card mb-4">
						<div class="card-body">
							<table id="datatablesSimple">
								<thead>
									<tr>
										<th>Nombre</th> 
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="role: ${roleList}">
										<td th:text="${role.roleName}"></td> 
										<td>
											<a th:href="@{/editRole/{id}(id=${role.roleId})}" class="btn btn-secondary m-1"> 
												<i class="fa-solid fa-pen-to-square"></i>
											</a>
											<form th:action="@{/deleteRole/{id}(id=${role.roleId})}"
												method="post">
												<input type="hidden" name="_method" value="put" />

												<button type="submit" class="btn btn-danger m-1"
													onclick="return confirm('¿Estás seguro de que deseas eliminar este rol?');">
													<i class="fa-solid fa-trash"></i>
												</button>
											</form></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2023</div>
						<div>
							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
								&amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		crossorigin="anonymous"></script>
	<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
